.inputWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.btnWrapper > button {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .inputWrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 470px) {
  .btnWrapper > button {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
